body {
    background-color: #2260B6;
}

div {
  display: flex;
  justify-content: center;
  height: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

html {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.fade-in-image { animation: fadeIn 5s; }